---
#
# Configuration file for 'dhcp_bluecat' dhcp provider
#

#connection mode to the address manager
#https or http
:scheme: "https"

# validate ssl connection
# true or false
:verify: true

#fqdn or ip of your bluecat address manager
:host: "192.168.0.2"

# id of the parent_block that holds the subnets that you want to use
:parent_block: 00000

# name of your dns view
:view_name: "internal"

# id of your Bluecat configuration
:config_id: 000000

# Name of your Bluecat configuration
:config_name: "default"

# id of the server that holds your dhcp
:server_id: 000000


# credentials of your api user
:username: "username"
:password: "password"
